.header {
  font-family: "Anton", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: white;
  font-size: 30px;
  /* width: 500px; */
  height: 60px;
}

.Container__header {
  display: flex;
  background-color: blue;
  justify-content: center;
  align-items: center;
  width: 520px;
}
